{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "jsxSingleQuote": false,
  "requirePragma": false,
  "insertPragma": false,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json",
        "printWidth": 80,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": "*.md",
      "options": {
        "parser": "markdown",
        "printWidth": 80,
        "proseWrap": "always",
        "singleQuote": false
      }
    },
    {
      "files": "*.yml",
      "options": {
        "parser": "yaml",
        "singleQuote": false
      }
    }
  ]
} 